@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Phonk";
  src: url("/phonk.otf") format("opentype");
  font-display: "Arial";
}

@layer utilities {
  .delay-2 {
    animation-delay: 0.2s;
  }
  .delay-4 {
    animation-delay: 0.4s;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  /* gets shown when gsap inits */
  visibility: hidden;
  background-color: black;
}
html,
body {
  height: 100%;
  overflow-y: auto;
}

.digit-custom {
  display: inline-block;
  width: 1ch;
  transition: all 0.3s ease;
}

.digit-custom.animating {
  transform: scale(1.1);
  color: rgb(255, 87, 84);
}
